$navbar-default-bg:#08088A;

@import "bootstrap-sprockets";
@import "bootstrap";
.nav-link{
    margin:3pt; 
}
.nav-item{
    margin-left: 15pt;
}
.jumbotron{
    height: 500px;
    background-image: asset-url("image1.jpg");
    background-size: cover;
}
.btn
{
   font-size:1.7em;
   background-color: #08088A;
}